<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <title>Add API Key</title>
</head>
<body>

<form th:action="'/admin'" method="post" enctype="text/plain" id="api">
    <div class="row">
        <div class="form-group col-md-3" style="margin-left: 10px;">
            <label for="userName">Username: </label>
            <input class="form-control" type="text" name="userName" id="userName"/></div>
    </div>

    <div class="row">
        <div class="col-md-3" style="margin-left: 10px;">
            <button class="btn btn-primary" type="button" onclick="submitData()"> Submit</button>
        </div>
    </div>
</form>


<hr/>

<p id="apiKeyTarget" style="margin-left: 10px;"></p>

<a href="/admin/list" class="btn btn-default" role="button" style="margin-left: 10px;">To the list</a>

</body>

<script th:inline="javascript">

    var textArea = document.getElementById("apiKeyTarget");

    function submitData() {
        //<![CDATA[

        var elem = document.getElementById("api").elements;
        var url = document.getElementById("api").action;
        var params = "";
        var value;

        for (var i = 0; i < elem.length; i++) {
            value = elem[i].value;
            params += elem[i].name + "=" + encodeURIComponent(value) + "&";
        }
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.open("POST", url, false);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Content-length", params.length);
        xmlhttp.setRequestHeader("Connection", "close");
        xmlhttp.send(params);
        textArea.innerHTML = xmlhttp.responseText;
    }
    //]]>


</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>