<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <title>Api Key List</title>
</head>
<body>

<div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>ApiKey</th>
                <th>Revoke</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${map}">
                <td th:text="${element.key}"></td>
                <td th:text="${element.value}"></td>
                <td>
                    <a th:href="'/admin/revoke/' + ${element.value}" class="btn btn-default" role="button">Revoke</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="/admin" class="btn btn-default" role="button" style="margin-left: 10px;">Add Users</a>


</body>
</html>